# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.idea/
.vscode/
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
build/
bower_components
*.tgz

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react